{% extends "game/base.html" %} 

{% block content %}

<div class="container">
    <div class="jumbotron">
        <p class="h2 text-center">Current Games</p>
        <div class="container rounded mt-5" style="max-width: 300px;">
            {% include 'game/messages.html' %}
            <table class="table">
                <tbody>
                    <!-- Active Games -->
                    {% for game in games %}
                        <tr>
                            <td><a class="btn-info btn-block rounded text-center" style="background-color: #6b2801;" href="{% url 'gamedetail' game.id %}">{{game.name}}</a></td>
                            <td><a href="ranking"><i class="fas fa-trophy ml-1"></i></a></td>
                            <td><a href="invite"><i class="fas fa-share-alt ml-1"></i></a></td>
                        </tr>
                    {% endfor %}
                    
                    <!-- Invited Games -->
                    {% for invite in invitations %}
                        <tr>
                            <td><span class="btn-info btn-block rounded text-center" style="background-color: #6b280181;">{{invite.name}}</span></td>
                            <td>
                                <form action="{% url 'game_accept' invite.id %}" method="POST">
                                {% csrf_token %}
                                    <button class="border-0"><i class="fas fa-check-square text-success"></i></button>
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'game_decline' invite.id %}" method="POST">
                                {% csrf_token %}
                                    <button class="border-0"><i class="fas fa-ban text-danger"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="new_game" class="btn-info btn-block rounded text-center" style="background-color: #6b2801;">Create New Game</a>
        </div>
    </div>
</div>

{% endblock content %}