{% extends "game/base.html" %} 

{% block content %}

    <div class="container">
        <div class="h1 text-center btn-block btn-info pb-3 pt-3">{{game.name}}</div>
        
        <div class="row ">
            <div class="col-6">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="text-center">
                            <a class="btn btn-outline-secondary btn-block" href="{% url 'ranking' game.id %}">Current Ranking</a>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 justify-content-center">
                    <div class="col-8">
                        <div class="list-group">
                            <div class="list-group-item border-0">
                                <div class="row justify-content-center">   
                                    <div class="col-5 ">Player</div>
                                    <div class="col-3 text-center">Score</div>
                                    <div class="col-2 text-center">Tipps</div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="row justify-content-center">
                    <div class="col-8">
                        <ul class="list-group list-group-flush">
                            {% for ranking in rankings %}
                                <a href="{% url 'ranking_detail' game_id=game.id player_id=ranking.id %}" class="list-group-item list-group-item-action">
                                    <div class="row justify-content-center">
                                        <div class="col-5 "><span>{{ forloop.counter }}. {{ranking.user.username}}</span></div>
                                        <div class="col-3 text-center">{{ranking.t_score}}</div>
                                        <div class="col-2 text-center">{{ranking.t_tipps}}</div>
                                    </div>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-6  border border-secondary">
                <div class="row">
                    <div class="col-12">
                        <div class="h4 text-center">Rules of the Game</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                Exact Result:<span>{{game.pts_exact}} Points</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Goal Difference:<span>{{game.pts_difference}} Points</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                Winner:<span>{{game.pts_winner}} Points</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Wrong Prediction:<span>{{game.pts_wrong}} Points</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            {% for league in leagues %}
                                <li class="list-group-item d-flex justify-content-between">
                                    <span><img src={{league.logo}} class="img-fluid mr-2" style="width:15%;">{{league.name}} ({{league.country.name}})</span>
                                    <span>to play ({{league.toplay}})/ finished ({{league.finished}})</span> 
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% include 'game/messages.html' %}
        </div>

        <div class="row mt-4">
            <div class="col-12">
                {% include 'game/fixture_counter.html' %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                {% include 'game/refresh_today.html' %}

                {% include 'game/fixtures_table.html' %}
            </div>    
        </div>
        
    </div>
    

{% endblock content %}