{% extends "game/base.html" %} 

{% load crispy_forms_tags %}

{% block content %}

{% include 'game/messages.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header h4 text-center">
                    {{game.name}}
                </div>
                <div class="card-body">
                    {% include 'game/fixture_card_header.html' %}

                    {% if fixture.home_odds %}
                        {% include 'game/fixture_card_odds.html' %}
                    {% endif %}
                    
                    <div class="row mt-4 align-items-center">
                        <div class="col text-center">
                            <span class="h3">Prediction for the match result</span>
                        </div>
                    </div>
                    
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="fixture_id" name="fixture_id" value={{fixture.id}}>
                        <input type="hidden" id="game_id" name="game_id" value={{game.id}}>
                        <div class="form-row mt-4">
                            <div class="form-group col-5 text-center">
                                {{ form.tipp_home|as_crispy_field}}
                            </div>
                            <div class="form-group col-5 offset-2 text-center">
                                {{ form.tipp_away|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col text-center">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>



{% endblock content %}